{% extends 'layout.html' %}
{% block main %}
           <form method="POST">
                {{ form.hidden_tag() }}

                {{ form.on.label }}
                {{ form.on}}
                {{ form.hour.label }}
                {{ form.hour }}<br><br>
                {{ form.owner_name.label }}
                {{ form.owner_name}}<br><br>
                {% for subfield in form.appointment_type%}
                    {{ subfield.label }}
                    {{ subfield }}
                {% endfor %}
                <br/><br/>
                {{ form.period.label }}
                {{ form.period }}<br><br>
                {{ form.submit_button(class_="submit_button") }}
                <br/>
               {%  with messages=get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
               {% endwith %}
            </form>
{% endblock %}