<div>
    <form method="POST" class="appointment_zone">
         {{ treatment_creation_form.hidden_tag() }}

         <div class="form">
             {{ treatment_creation_form.treatment_type.label }}<br>
             {{ treatment_creation_form.treatment_type(class_="form_textbox") }}
         </div>
         <div class="form">
             {{ treatment_creation_form.pet_name.label }}<br>
             {{ treatment_creation_form.pet_name(class_="form_textbox") }}
         </div>
         <div class="form">
             {{ treatment_creation_form.start_date.label }}<br>
             {{ treatment_creation_form.start_date(class_="form_textbox") }}
         </div>
         <div class="form">
             {{ treatment_creation_form.end_date.label }}<br>
             {{ treatment_creation_form.end_date(class_="form_textbox") }}
         </div>


        <br><br>
        {{ treatment_creation_form.submit_button(class_="submit_button") }}
     </form>
</div>
