<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/left_panel_style.css') }}">
        <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
        <title>VetSys</title>
    </head>
    <body>
    <div class="left_panel">
        <a href="/"><h1 class="logo">VetSys</h1></a>
        <img src="{{ url_for('static', filename='images/rs.png') }}" alt="" class="profile_picture">
        {% if user %}
        <p class="vet_name">{{ user.username }}</p>
        {%endif%}
        <div class="content">
            <p class="dropdown_text" id="pets_dropdown"
               onclick="petsDropdown()">
                Pets &ensp; <span style="font-size: 0.9em"> &#9660;</span>
            </p>
            <p class="dropdown_text" id="pets_dropclose"
               onclick="petsDropclose()">
                Pets &ensp; <span style="font-size: 0.9em"> &#9650;</span>
            </p>
            <div class="dropdown_box" id="pdb">
                <p><a href="/register_new_pet">Register new pet</a></p>
                <p><a href="/list_pet">List pets</a></p>
            </div>

            <p class="dropdown_text" id="app_dropdown"
               onclick="appDropdown()">
                Appointments &ensp; <span style="font-size: 0.9em"> &#9660;</span>
            </p>
            <p class="dropdown_text" id="app_dropclose"
               onclick="appDropclose()">
                Appointments &ensp; <span style="font-size: 0.9em"> &#9650;</span>
            </p>
            <div class="dropdown_box" id="adb">
                <p><a href="/make_appointment">Register new appointment</a></p>
                <p><a href="/display_registers">List appointments</a></p>
            </div>

            <p><a href="/profile" class="left_panel_link">Profile</a></p>
            <p><a href="/logout" class="left_panel_link">Logout</a></p>

        </div>
    </div>
    <div class="main_zone">
        {% block page_content %}

        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
    </body>
</html>
