<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/left_panel_style.css') }}">
        <title>VetSys</title>
    </head>
    <body>
    <div class="left_panel">
        <h1 class="logo">VetSys</h1>
        <div class="content">
            <p><a href="#">Randevu Yaz</a></p>
            <p><a href="#">Yeni Kayıt</a></p>
            <p><a href="#">Kayıtları Görüntüle</a></p>
        </div>
    </div>
    <div class="main_zone">
        {% block main   %}
        {% endblock %}
    </div>
    </body>
</html>
