{% extends "layout.html" %}
{% block page_content %}
    <p style="font-size:1.2em">All pets in your database and data about them: </p>
    {% for pet in pets %}
        <div class="pet_data" id="{{ pet.pet_id }}">
            <div>
                <img src="{{ url_for('static', filename='images/logoimg_paw.png') }}" class="data_pawicon">
                <br><br>
                <p class="page_data_text">
                    Name: <b>{{ pet.name }}</b> <br>
                    Species is <b>{{ pet.species }}</b> and race is <b>{{ pet.race }}</b> <br>
                    Age: <b>{{ pet.age }}</b> <br>
                    Weight: <b>{{ pet.weight }}</b> <br>
                </p>
            </div>
            <form class="delete-form" action="{{ url_for('dashboard.delete_pet')}}" method="GET">
                <div class="delete_zone">
                    <button type="submit"  class="delete_button" name="button-delete" value="{{pet.pet_id}}">
                        <img src="{{ url_for('static', filename='images/logoimg_paw.png') }}" class="data_pawicon">
                    </button>
                </div>
            </form>

        </div>
    {% endfor %}
{% endblock %}

