{% extends "layout.html" %}
{% block page_content %}
    <p style="font-size:1.2em">All pets in your database and data about them: </p>
    <div>
        <label for="search_box">Search pets by name:</label>
        <input type="text" id="search_box">
        <div id="search-result" style="margin-bottom: 35px;">

        </div>
        <hr style="margin: 35px 0; border: 2px solid grey;">


    </div>
    {% for pet in pets %}
        <div class="pet_data">
            <div style="display: flex;
                        justify-content: flex-start;">
                <img src="{{ url_for('static', filename='images/logoimg_paw.png') }}" class="data_pawicon">
                <br><br>
                <p class="page_data_text">
                    Name: <b>{{ pet.name }}</b> <br>
                    Owner: <b>{{ pet.owner.name }}</b> <br>
                    Species is <b>{{ pet.species }}</b> and race is <b>{{ pet.race }}</b> <br>
                    Age: <b>{{ pet.age }}</b> <br>
                    Weight: <b>{{ pet.weight }}</b> <br>
                </p>
            </div>

            <div class="delete_zone">
                <form class="" method="POST">
                    <button type="submit"  class="delete_button" name="button-delete" value="{{pet.pet_id}}">
                        <img src="{{ url_for('static', filename='images/thrash.png') }}" class="thrash">
                    </button>
                </form>
            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script>
        $('#search_box').keyup(function (key) {
            var key_value=key.which;
            if(key_value != ""){
                $.ajax({
                        url: "/search_pet",
                        data: {text:$('#search_box').val()},
                        type: 'POST',
                       }
                ).done(function (data) {
                            $('#search-result').html("");
                            var parsed="";
                            $.each(data.query, function(k, v) {
                                parsed+='<div class="pet-data">' +
                                            '<div  style="display: flex;justify-content: flex-start;">'+
                                                '<img src="{{ url_for('static', filename='images/logoimg_paw.png') }}" class="data_pawicon">'+
                                                '<br><br>'+
                                                '<p class="page_data_text">'+
                                                    'Name: '+"<b>"+v.Name+"</b>"+",   "+
                                                    'Owner:'+"<b>"+v.Owner+"</b>"+",   "+
                                                    'Age: '+"<b>"+v.Age+"</b>"+",   "+
                                                    'Weight:'+"<b>"+ v.Weight+"</b>"+
                                                '</p>'+
                                            '</div>'+
                                        '</div>'
                            });
                            $('#search-result').html(parsed);
                        });
            }
        });
    </script>

{% endblock %}

