<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static',filename='js/login.js') }}"></script>
        <title>VetSys</title>
    </head>
    <body>
        <div class="login_window">
            <h2>VetSys</h2>
            <form method="POST">
                {{ form.hidden_tag() }}

                {{ form.staff_id.label }}<br>
                {{ form.staff_id }}<br><br>
                {{ form.password.label }}<br>
                {{ form.password }}<br><br>
                {% if context %}
                    {{ context.err_msg }}
                {% endif %}
                {{ form.submit_button(class_="submit_button") }}
            </form>
        </div>
    </body>
</html>
