{% extends 'layout.html' %}
{% block page_content %}

    <div style="display: flex; justify-content: flex-start;">
        <div class="new_pet_wrapper">
            <div>

                <form method="POST" class="wrap_form_zone" >
                    <div class="form_zone" id="pet-form-wrapper">

                         {{ pet_creation_form.hidden_tag() }}
                        <p>Type the data about the pet and submit it to the database.</p>
                         <div class="form">
                             {{ pet_creation_form.pet_name.label }}<br>
                             {{ pet_creation_form.pet_name(class_="form_textbox") }}
                         </div>
                         <div class="form">
                             {{ pet_creation_form.species.label }}<br>
                             {{ pet_creation_form.species(class_="form_textbox") }}
                         </div>
                         <div class="form">
                             {{ pet_creation_form.race.label }}<br>
                             {{ pet_creation_form.race(class_="form_textbox") }}
                         </div>
                         <div class="form">
                             {{ pet_creation_form.owner_ssn.label }}<br>
                             {{ pet_creation_form.owner_ssn(class_="form_textbox") }}
                         </div>
                         <div class="form">
                             {{ pet_creation_form.age.label }}<br>
                             {{ pet_creation_form.age(class_="form_textbox") }}
                         </div>
                         <div class="form">
                             {{ pet_creation_form.weight.label }}<br>
                             {{ pet_creation_form.weight(class_="form_textbox") }}


                         </div>
                         <button type="button" class="submit_button next-button">Next ></button>
                     </div>

                    <div class="form_zone" id="treatment-form-wrapper">
                         <div class="form">
                             {{ treatment_creation_form.treatment_type.label }}<br>
                             {{ treatment_creation_form.treatment_type(class_="form_textbox") }}
                         </div>
                         <div class="form">
                             {{ treatment_creation_form.pet_name.label }}<br>
                             {{ treatment_creation_form.pet_name(class_="form_textbox") }}
                         </div>
                         <div class="form">
                             {{ treatment_creation_form.start_date.label }}<br>
                             {{ treatment_creation_form.start_date(class_="form_textbox") }}
                         </div>
                         <div class="form">
                             {{ treatment_creation_form.end_date.label }}<br>
                             {{ treatment_creation_form.end_date(class_="form_textbox") }}
                         </div>
                        {{ treatment_creation_form.submit_button(class_="submit_button") }}
                    </div>


                    <br><br>

                 </form>
            </div>



        </div>
        <div id="search_result">

        </div>
    </div>


    <div class="message">
    {%  with messages=get_flashed_messages() %}
             {% if messages %}
                 {% for message in messages %}
                     {{ message }}
                 {% endfor %}
             {% endif %}
    {% endwith %}
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
           $('#treatment-form-wrapper').css('display','none');
           $('.next-button').on('click',function (e) {
                $('#pet-form-wrapper').fadeOut('slow',function () {
                    $('#treatment-form-wrapper').fadeIn('slow');
                });

           });

            var pets;
            $('#pet_name').keyup(function (key) {
                var key_value=key.which;
                if(key_value != ""){
                    $.ajax({
                            url: "/search_pet",
                            data: {text:$('#pet_name').val()},
                            type: 'POST',
                           }
                    ).done(function (data) {
                                pets=data.query;
                                $('#search_result').html("");
                                var parsed="";
                                $.each(pets, function(k, v) {
                                    parsed+= '<p class="search-result-exp">Search Results: <br> ' +
                                        '(you can select any result in order for the form complete itself)</p>' +

                                        '<div class="pet-listing" id="'+v.Id+'">'+
                                                'Id: '+v.Id+","+ "<br>" +
                                                'Name: '+v.Name+","+ "<br>" +
                                                'Owner-SSN: '+v.Owner+","+ "<br>" +
                                                'Age: '+v.Age+","+ "<br>" +
                                                'Weight: '+v.Weight+","+ "<br>" +
                                                'Species: '+v.Species+","+ "<br>" +
                                                'Race: '+v.Race+
                                            '</div>'
                                });
                                $('#search_result').html(parsed);
                            });
                }
            });

            $('#search_result').on("click","div.pet-listing",function (e) {
                $('#search_result').html("");
                $('#pet_name').val("");
                $('#species').val("");
                $('#race').val("");
                $('#owner_ssn').val("");
                $('#age').val("");
                $('#weight').val("");

                var pet_id=toString($(this).attr('id'));
                $.each(pets,function (k,v) {
                    if(toString(v.Id)===pet_id){
                        $('#pet_name').val(v.Name);
                        $('#species').val(v.Species);
                        $('#race').val(v.Race);
                        $('#owner_ssn').val(v.Owner);
                        $('#age').val(v.Age);
                        $('#weight').val(v.Weight);
                    }
                });

            });

        });
    </script>
{% endblock %}
