
.left_panel {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
    text-align: center;
    border-bottom: 4px solid #3a3a3a;
}

.content {
    padding: 10px;
    text-align: right;
    margin: 25px 10px;
}

.left_panel a,
.left_panel a:visited {
  text-decoration: none;
  color: #ccc;
}

.left_panel a:hover {
  color: #f1f1f1;
}

.profile_picture {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    height: 128px;
    width: 128px;
}

.vet_name {
    text-align: center;
    color: white;
}

.dropdown_text {
    color: #ccc;
    font-size: 1.3em;
}
.dropdown_text:hover { text-decoration: underline; }
.dropdown_box {
    display: none;
}
#pets_dropclose, #app_dropclose { display: none; }

.left_panel_link {
    font-size: 1.2em;
}

.d-triangle {
    width: 0;
    height: 0;
    border-top: solid 8px rgb(200,30,50);
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}

/* unnecessary now... */
.logout-button {
    padding: 0;
    min-width: 0;
    font-size: 1.1em;
    background: #1a1a1a;
    color: #e6e6e6;
    text-decoration: none;
    font-family: ttf_source_sans;
}
.logout-button:hover {
    background: #1a1a1a;
    color: #fff;
}
