
.left_panel {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
    text-align: center;
    border-bottom: 4px solid #3a3a3a;
}

.content {
    padding: 10px;
    text-align: right;
    margin: 25px 10px;
}

.left_panel a,
.left_panel a:visited {
  text-decoration: none;
  font-size: 1em;
  color: #ccc;
}

.left_panel a:hover {
  color: #f1f1f1;
}

.profile_picture {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    height: 128px;
    width: 128px;
}

.vet_name {
    text-align: center;
    color: white;
}

.dropdown_text {
    color: #ccc;
    font-size: 1.3em;
}
.dropdown_text:hover { text-decoration: underline; }
.dropdown_box {
    display: none;
}
#pets_dropclose, #app_dropclose { display: none; }
