body {
  margin: 0;
  background: #f3f4f5;
  color: #1a1a1a;
  border-top: 3px solid #00cc99;
}

/* main font of the page */
body, p {
  font-family: ttf_source_sans, Open Sans, sans-serif;
}
@font-face {
    font-family: ttf_source_sans;
    src: url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@@font-face {
    font-family: ttf_source_code;
    src: url(fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}


.main_zone {
  margin: 20px 20%;
  display: block;
}

.logo {
    margin: auto 20px;
    color: ghostwhite;
}

button,
.submit_button {
  border: none;
  background: #00aa77;
  color: ghostwhite;
  padding: 10px;
  margin: 5px;
  min-width: 90px;
}

button:hover {
  background: #00bb88;
}

.form {
    padding: 1em 0;
}

.form_textbox {
    padding: 7px;
    font-family: ttf_source_sans;
    min-width: 250px;
}


form.appointment_zone {
    max-width: 500px;
    text-align: center;
    padding: 2em;
    background: #e6e6e6;
    margin-right: 30px;
}

.new_pet_wrapper {
    display: flex;
    justify-content: flex-start;
}
